h1{
    color:rgb(255, 255, 0);
}
center p{
    color: rgb(0, 0, 255);
}
a{
    color:rgb(0, 255, 0);
}
ol{
    color:rgb(20, 255, 255);
}
fieldset p {
    color:rgb(0, 55, 200);
  }
fieldset label {
    color:rgb(0, 0, 255);
  }
option{
    color: rgb(255, 25, 100);
}
#s1{
    color: rgb(255, 0, 0);
}
#b1{
    border-color: rgb(255, 0, 0);
}